.App {
  text-align: center;
}

.calculator-container{
  width: 225px;
  background-color: #555453;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin: auto;
  color: #FFFFFF;
  box-shadow: 0px 4px 30px 4px rgba(0, 0, 0, 0.5);
}

.button-row{
  display: flex;
  flex-direction: row;
}

.cal-btn{
  width: 25%;
  height: 50px;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #7f7e7d;
  border-color: #6a6968;
  border-style: solid;
  border-width: thin;
}

#ac-btn{
  width: 50%;
  background-color: #666564;
}

#zero-btn{
  width: calc(100% * 2/3);
  border-radius: 0 0 0 15px;
}

#equal-sign{
  height: inherit;
  border-radius: 0 0 15px 0;
}

.flex-column{
  display: flex;
  flex-direction: column;
  width: 75%;
}

.cal-btn-btm{
  width: calc(100% / 3);
}

.display-row{
  text-align: right;
  padding: 10px 10px 0px 10px;
  height: 50px;
  font-size: 38px;
  overflow: scroll;
}

.opt-btn{
  background-color: #ff9f0b;
}

.cal-btn:active{
  background-color: #9e9e9f;
}
.opt-btn:active{
  background-color: #ca7d08
}

#ac-btn:active{
  background-color: #7f7e7d;
}